<p id="notice"><%= notice %></p>

<%= render "form", tag: @tag %>

<h3>Your ingredients: </h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      <% @ingredients.each do |ingredient| %>
    <tr>
      <td><%= link_to ingredient.iname, ingredient %></td>
      <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
      <% end %>
    </tr>
  </tbody>
</table>
