<html>
   <div class="container-fluid">
    <h1>Welcome to Menu Planner</h1>
      <%# <%= #button_to 'Get started', dishes_path, :method => :get,  :class => "btn btn-primary btn-lg"%> %>
    </div>
</div>
</html>
