<html>
<div class="jumbotron text-center">
  <div class="container" >
   <h1 class="display-4">Welcome to Menu Planner</h1>
    <p class="lead">This app will help you.....</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/menu_planners/schedule" role="button">Get started</a>
  </div>
</div>

</html>
