<html>
  <div class="container" style="height: 400px">
    <div class="row">
      <div class="col">
       <!-- image -->
       <img src="<%=image_path("welcome.png")%>" width="90%">
      </div>

      <div class="col"><h1 class="display-5 text-left">Welcome to Menu Planner</h1>
       <p class="lead text-center my-5" style="line-height: 40px">Menu planning gives you the opportunity to plan for week ahead and buy groceries accordingly. The question "What to cook for dinner?" will not bother you again. Also, you can reduce food waste and your food expences since you  are only buying what you you need for planned meals. </p>
       <div style= "text-align: center"><a class="btn btn-lg btn-info active" href="/menu_planners/" role="button">Plan your week!</a></div>
     </div>

    </div>

  </div>

</html>
