<p id="notice"><%= notice %></p>


<h1>Menu Planners</h1>
<%= @generated_week_menu.inspect %>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="row" style="height: 100px;">Breakfast</th>
      <td>Omlette

       </td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
    </tr>
    <tr>
      <th scope="row" style="height: 100px;">Lunch</th>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
    </tr>
    <tr>
      <th scope="row" style="height: 100px;">Dinner</th>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
    </tr>
  </tbody>
</table>
<br>
<!-- <a class="btn btn-primary btn-lg" href="/menu_planners/new/newweek" role="button">Generate menu</a> -->
