<p id="notice"><%= notice %></p>

<h1>Menu Planners</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <% @week_from_today.each do |day| %>
      <th scope="col"><%= day %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    The week of
    <tr>
      <th scope="row" style="height: 100px;">Breakfast</th>
      <td>Omlette

       </td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
    </tr>
    <tr>
      <th scope="row" style="height: 100px;">Lunch</th>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
    </tr>
    <tr>
      <th scope="row" style="height: 100px;">Dinner</th>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
    </tr>
  </tbody>
</table>
<br>
<a class="btn btn-primary btn-lg" href="/menu_planners/new/newweek" role="button">Generate menu</a>
!!!

???

<!-- <table>
  <thead>
    <tr>


      <th>Type</th>
        <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
