<p id="notice"><%= notice %></p>

<p>
  <strong>Dish:</strong>
  <%= @dishes_ingredient.dish.dname %>
</p>


<%= link_to 'Edit', edit_dishes_ingredient_path(@dishes_ingredient) %> |
<%= link_to 'Back', dishes_ingredients_path %>
